{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<link href="{% static 'css/styles.css'%}" rel="stylesheet" type="text/css">
	<title>
		sams
	</title>
</head>
<body>
        {% load staticfiles %}
		<header>

				<a href="#"><img src="{%static 's.png'%}" class="logo"></a>
				<div class="sams"> SAMSUNG </div>

				<div class="site-title">
				</div>


				<script>
				function form(){
            var c=document.getElementById("myform");
            c.style.display="block";
            return false;
    }


        function meka() {
            var a=document.getElementById("myform");
            var b=document.getElementById("myName");
            a.style.display="none";
            alert('Уважаемый, '+ b.value +', ваше сообщение принято')
            return false;
      }

				</script>

				<div class="clearfix"></div>
			</header>
					<nav>
						<ul>
							<li><a class="active" href='/'>Главная</a></li>
							<li><a  href='/sms2/'>Мобильные устройства</a></li>
							<li><a  href='#'>Ноутбуки</a></li>
							<li><a href='/calculate/'>Калькулятор</a></li>
						</ul>
						<div class="clearfix"></div>
					</nav>
					<div class="main">
                        {% block content %}
refr
                        {% endblock %}
					</div>

					<div id="napisat" onclick="form();"><h2> Написать нам </h2></div>
	<form id="myform">
        	<fieldset>
			<label>Имя</label><br>
        		<input id="myName" type="text" /><br>
				<label>E-mail</label><br>
         		<input type="email" id="email" /><br>
				<label>Сообщения</label><br>
        		<textarea id="message" ></textarea>
          		<input type="submit" value="Отправить" onclick="return meka();"/>
        	</fieldset>
     </form>


					<div id="icon">
				<a href="#top"><img src="{% static 'icon.png' %}" width="60" height="60";> </a></div>
		<footer>

				<div class="block">
					<div class="footer-block">
						<h3>История компании </h3>
						<ul>
							<li><a href="#"> <h3>Основание компании</h3> </a></li>
							<li><a href="#"> <h3>Samsung после Корейской войны</h3></a></li>
							<li><a href="#"> <h3>Реформирование компании </h3></a></li>
						</ul>
					</div>
					<div class="footer-block">
						<h3>	Спонсорство и благотворительная деятельность</h3>
						<ul >
							<li><a href="#"> <h3>Спонсорская деятельность в спорте </h3> </a></li>
							<li><a href="#"><h3> Поддержка Олимпийского движения </h3></a></li>
							<li><a href="#"><h3> Samsung и футбольный клуб Челси</h3> </a></li>
						</ul>
					</div>
					<div class="footer-block">
						<h3>Критика</h3>
						<ul >
							<li><a href="#"><h3>	Финансовые скандалы</h3></a></li>
							<li><a href="#"><h3>Монополия</h3> </a></li>
							<li><a href="#"><h3> Вирусный маркетинг </h3></a></li>
						</ul>
					</div>
						<div style="clear:both;"></div>

				</div>
			</footer>
	</body>
</html>
</html>