{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}
	<h1>Хотите заказать смартфон. Оплата за смартфон:</h1>
							<div id="calculate"><br>
								За любой смартфон скидка 14%<br>
								Доставка 10% от стоимости смартфона<br><br>
					<form id="my_form">
						Цена вашего смартфона
							<input id="n1" type="number" />
							<input id="s1" type="submit" value="Вычислить" onclick="return calculate();" />
				</form>
					<div>
            Скидка:<span id="result"> 0</span>сом
			</div>
			<div>
             Стоимость доставки:<span id="cent"> 0 </span> сом
			</div>
			<div>
            <h3>Итого</h3> <span id="total"> 0 </span>сом
			</div>
			</div>
{% endblock %}