{% extends 'base.html' %}
                        {% block content %}
                            {% load staticfiles %}
                            <h1>О компании Samsung</h1>



                                    <img src="{% static '1.jpg' %}" class="image1">
                                <p>
                                    Samsung Group (произносится «Сaмсунг Груп», кор. , Samseong Gurub, Samsong Gurup) — южнокорейская группа компаний,
                                    один из крупнейших в Южной Корее чеболей, основанный в 1938 году. На мировом рынке известен как производитель высокотехнологичных
                                    компонентов, телекоммуникационного оборудования, бытовой техники, аудио- и видеоустройств. Главный офис компании расположен в Сеуле.
                                    Слово «Самсунг» (кор более правильная передача слова по нормам практической транскрипции — «сaмсон») в корейском языке означает «три звезды». Возможна связь такого названия с тремя сыновьями основателя Samsung Ли Бён Чхоля (???), младший из которых Ли Гон Хи (иногда его имя пишется Ли Кун Хи — калька с английского: Lee Kun-hee)  возглавил компанию в 1987 году в нарушение всех восточных традиций наследования, в согласии с которыми старший сын наследует большую часть семейной собственности[1].<p>
                                <img src="{% static '2.jpg' %}" class="image2">
            Компании, входящие в концерн Samsung Group, занимаются электроникой и микроэлектроникой, химической промышленностью,
             строительством, автомобилестроением, тяжёлой промышленностью, финансами и кредитами, страхованием. Структура концерна включает полный цикл производства
             электроники, начиная от добычи ресурсов, их переработки и заканчивая готовыми изделиями. Большинство подразделений конгломерата выполняют подчинённые функции
             по отношению к компаниям, занятым непосредственно в изготовлении готовой электронной продукции, и работают исключительно на концерн или только внутри Южной
             Кореи. Эта особенность чётко просматривается из распределения прибыли по подразделениям, таким образом, основной доход концерна приходится на электронную
             промышленность.</p>
                        {% endblock %}
