{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}
    <h1>Смартфоны</h1>
                            <h2>В Китае прошел сертификацию бюджетный смартфон Samsung SM-G5510</h2>

                            <img src="{% static 's1.jpg' %}" class="image1">
                        <p>
                            С момента возникновения первых слухов о смартфоне под индексом SM-G5510 компании Samsung прошло довольно много времени.
                            <br>
                            Аппарат уже успел засветиться в ходе тестирования в бенчмарке GFXBench и на сайте Zauba (Индия), получил одобрение американской
                            FCC, а теперь был замечен в сертификационном центре TENAA .Судя по характеристикам, SM-G5510 соответствует бюджетному уровню.
                            В основе модели лежит четырехъядерный 1,4-гигагерцевый процессор Snapdragon 425. Разрешение 5-дюймового экрана – 1280 на 720
                            точек. В наличии ОЗУ в объеме 2 Гб и флэш-модуль на 16 Гб, 5- и 13-мегапиксельная камеры, аккумулятор на 2600 мА/ч, microSD-слот
                            для карт до 128 Гб. В роли «управляющего» - Android 6.0.1.
                            Толщина девайса – 8,1 мм при весе 143 грамма. Учитывая полученные сертификаты FCC и TENAA, логично сделать вывод, что презентация
                            смартфона состоится уже в самом ближайшем будущем.<p>
                            <br>
                            <br>
                            <br>
                        <img src="{% static 's2.jpg' %}" class="image1">
    Компании, входящие в концерн Samsung Group, занимаются электроникой и микроэлектроникой, химической промышленностью,
     строительством, автомобилестроением, тяжёлой промышленностью, финансами и кредитами, страхованием. Структура концерна включает полный цикл производства
     электроники, начиная от добычи ресурсов, их переработки и заканчивая готовыми изделиями. Большинство подразделений конгломерата выполняют подчинённые функции
     по отношению к компаниям, занятым непосредственно в изготовлении готовой электронной продукции, и работают исключительно на концерн или только внутри Южной
     Кореи. Эта особенность чётко просматривается из распределения прибыли по подразделениям, таким образом, основной доход концерна приходится на электронную
     промышленность.</p>
{% endblock %}