header{
			background-color: #E6E6FA;
			padding: 13px;
			}
	.sams
			{color: blue;
			text-align: center;
			font-size: 90px;
			font-style: Arial;
			margin-left: 230px;
			}
	.logo{
			width: 220px;
			height: 150px;
			float: left;
			border-radius: 30px 0px 30px 0px;
		}
	.logo:hover{
				bov-shadow:0 0 5px 0 black;
				border:1px solid red;
	}
	.site-title{
			float: left;
			font-size: 30px;
			font-weight: bold;
			margin-top: 40px;
			margin-left: 20px;
			font-family: Arial;
			color: blue;
		}
	.clearfix{
			clear: both;
		}
	nav{
			background-color: blue;
			padding: 10px 0;
			text-align: left;
			font-size: 22px;
			}
	ul{
			padding-top: 0px;
			margin-top: 0px;
			}
	li{
			float: left;
			list-style: none;
			margin-left: 80px;
		    }
	.main{
			background-color:#E0FFFF;
			height: 1100px;
			padding-left: 120px;
			padding-right: 120px;
			text-align: justify;
			text-indent: 25px;
			padding-top: 0px;
			font-size: 18px;
			}
	h1{
			margin-top: 0px;
			margin-left: 260px;
			padding-top: 20px;
			font-style: italic;
			color:darkred;
			}
	nav a{
			margin-top: 0;
			font-style: italic;
			font-size: 24px;
			color:white;
			}
	nav a:hover{
			color:red;
			}
	nav a.active{
		border:1px solid red;
		color:grey;
	}		
	h3{  
			float: none;
			margin-top: 5px;
			font-style: normal;
			font-size: 14px;
			color:blue;
	}
	a>h3:hover{
			color:green;
	}
	.image1{
			float: left;
			margin-right: 10px;
			margin-bottom: 0;
			width: 500px;					
			height: 300px;
			border-radius: 20px 20px 20px 20px;
			}
	.image2{
			float: left;
			margin-right: 20px;
			margin-bottom: 20px;
			width: 400px;
			height: 300px;
			}
	.mail{  
			border:1px solid blue;
			float:right;
			color:green;
			text-indent:0px;
			padding:10px;
			position: fixed;
			top: 0;
			right: 0;
			
		}
			
	footer { 
			padding-right: 200px;
			text-align: left;
			}

	.footer-block { 
			float:left;
			width: 33%;
			text-align: center;
			color: green;
			}
	#icon{
		position: fixed;
	bottom: 0;
left:0;
	margin:40px;
	
}
#napisat{
        position:fixed;
        top: 0;
        right: 0px;
		width: 250px;
		height: 50px;
		background: violet;
		color:white;
		text-align:center;


     }
#myform{
	color:black;
	position: fixed;
	float:right; 
	width: 100%;
	top: 50px;
	max-width: 250px;
    right: 0px;

	text-align:left;
	background:lightgrey;
	display: none;
    border-radius :8px;

    
}